.App {
  width: 980px;
  margin: auto;
}

.exercise-container {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0%{
    opacity: 0;
    transform: translateX(25vh);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}