.animal-list {
	width: 80px;
	margin: auto;
}

.animal {
	width: 100%;
	height: 40px;
	border: solid 1px silver;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: 500;
}