/.vscode

/ticket-booking-webapp/node_modules
/ticket-booking-webapp/build

/ticket-booking-api/TicketBooking.API/bin
/ticket-booking-api/TicketBooking.API/obj
/ticket-booking-api/TicketBooking.API/.vscode
/ticket-booking-api/.vscode