.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	margin-top: 8px;
}

.nav-item {
	height: 40px;
	padding: 4px 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2E7D32;
	color: white;
	font-weight: 500;
	margin-right: 4px;
	border-radius: 4px;
}

.focused {
	opacity: 0.6;
}