.click-counting-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
}

.click-counting-container p {
  margin-bottom: 16px;
}

.click-counting-container i {
  color: brown;
  font-style: normal;
}